@import "./vars.scss";

.bgYellow {
    background-color: $yellow1;

}

.fontBlack {
    color: $grey1;
}

.fontWhite {
    color: $white1;
}

.pad8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.width100 {
    width: 100px;
}